<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UWT API - Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <p>Your account's Email: <strong id="email"></strong></p>
    <p>Your API Key: <strong id="apiKey"></strong></p>
    <p>Your account's Plan: <strong id="plan"></strong></p>
    <a href="/logout">Logout</a>

    <script src="/js/dashboard.js"></script>
  </body>
</html>
