<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UWT API - Error</title>
  </head>
  <body>
    <h1>Error</h1>
    <h3>Trying to break my API huh?</h3>
    <p>Error Message: <%= message %></p>
    <button onclick="window.location.href = '/'">Home Page</button>
    <button onclick="window.location.href = '/login'">Login</button>
    <button onclick="window.location.href = '/signup'">Sign Up</button>
  </body>
</html>
