<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/homepage.css" />
    <title>UWT API - Homepage</title>
  </head>
  <body>
    <h1>UWT API Homepage</h1>
    <p>
      The UWT API (Universal Web Tools API) is an API that provides universal
      web tools for developers, indie hackers and everyone else.
    </p>
    <button>DOCS</button>
    <button>GET IN</button>
  </body>
</html>
